[Unit]
Description=CM4all Prometheus Multi Exporter
After=cm4all-cgroup-exporter.socket cm4all-process-exporter.socket

[Service]
DynamicUser=yes
Type=notify
ExecStart=/usr/sbin/cm4all-multi-exporter
Restart=on-failure

CPUSchedulingPolicy=batch
TimerSlackNSec=1s

# enable crash dumps
LimitCORE=infinity

# Resource limits
MemoryMax=128M
TasksMax=4
LimitNPROC=4
LimitNOFILE=4096
LimitMEMLOCK=16M

# Paranoid security settings
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RemoveIPC=yes
