[Unit]
Description=CM4all Prometheus Ping Exporter
Wants=network-online.target
After=network-online.target

[Service]
DynamicUser=yes

# Note that you have to allow this service to create IPPROTO_ICMP by
# configuring a group id in /proc/sys/net/ipv4/ping_group_range; then
# use a systemd drop-in to override this service's "Group=" setting

Type=notify
ExecStart=/usr/sbin/cm4all-ping-exporter
Restart=on-failure

CPUSchedulingPolicy=batch
TimerSlackNSec=100ms

# Resource limits
MemoryMax=32M
TasksMax=1
LimitNPROC=1
LimitNOFILE=4096
LimitMEMLOCK=16M

# Paranoid security settings
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_LOCAL AF_INET
RestrictNamespaces=yes
RestrictRealtime=yes
RemoveIPC=yes
