Source: cm4all-prometheus-exporters
Section: non-free/net
Priority: extra
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 12~),
 meson (>= 0.56),
 g++ (>= 10~),
 zlib1g-dev,
 libcurl4-openssl-dev (>= 7.40),
 libfmt-dev (>= 9),
 libyaml-cpp-dev,
 libpcre2-dev,
 libsystemd-dev
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/CM4all/Prometheus-Exporters
Vcs-Git: git@github.com:CM4all/Prometheus-Exporters.git

Package: cm4all-prometheus-exporters
Architecture: all
Depends: cm4all-cgroup-exporter, cm4all-process-exporter,
 cm4all-kernel-exporter,
 cm4all-multi-exporter
Description: Transitional package
 Transitional package.  Do not install.

Package: cm4all-cgroup-exporter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 systemd (>= 232~)
Recommends: libnss-systemd
Replaces: cm4all-prometheus-exporters
Description: Prometheus Exporter for cgroup statistics
 Contains a Prometheus exporter which exposes cgroup statistics, such
 as per-cgroup CPU and memory usage.

Package: cm4all-kernel-exporter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 systemd (>= 232~)
Recommends: libnss-systemd
Replaces: cm4all-prometheus-exporters
Description: Prometheus Exporter for kernel statistics
 Contains a Prometheus exporter which exposes kernel statistics from
 /proc and /sys.

Package: cm4all-process-exporter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 systemd (>= 232~)
Recommends: libnss-systemd
Replaces: cm4all-prometheus-exporters
Description: Prometheus Exporter for cgroup statistics
 Contains a Prometheus exporter which exposes cgroup statistics, such
 as per-cgroup CPU and memory usage.

Package: cm4all-multi-exporter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 systemd (>= 232~)
Recommends: libnss-systemd
Suggests: cm4all-cgroup-exporter, cm4all-process-exporter
Description: Exporter which concatenates multiple exporters
 Contains a Prometheus exporter which concatenates the outputs of
 multiple other exporters.
